  <section id="intro" class="text-intro no-padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-10">
          <h1>Hello.<br />I'm <span class="text-primary">Cameron Lockey</span>, a <span class="text-primary">full-stack developer</span> living in Raleigh.</h1>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="heading"></h2>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 text-left">
              <p>I am a problem solver. I love breaking down ideas and creating elegant, efficient solutions. I get excited about details. I enjoy learning new tools and languages and want to improve as an engineer. My objectives are also to grow as a leader, to serve my co-workers well, and to help the company that employs me to thrive.
              <p>I am an accomplished software engineer with a track record of delivering dependable web applications to a non-trivial user base while maintaining the current codebase and server stack and providing sales and marketing support to a small-but-growing company. At my current post, I've solo managed and expanded all aspects of a product platform from AWS provisioning and deployment automation to client-side SPA development across the company’s multiple brands.</p>
            </div>
            <div class="col-sm-4">
              <p><%= image_tag 'me.png', alt: "This is me", class: "image img-circle img-responsive" %></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mt-big"></div>
      </div>
    </div>
  </section>
  <section id="experience" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="heading">Experience</h2>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-xs-6 text-left">
              <h3 class="xmar">Director of Technology</h3>
              <p class="italic t-lg xmar">Local Eye Site</p>
              <p class="upper strong">May 2014 - Present</p>
            </div>
            <div class="col-sm-6">
              <p>Developed and supported the platform for localeyesite.com, inpharmacyjobs.com, and risehire.co. Planned and designed architecture and UI/UX, implemented, deployed, and supported all tech assets and feature sets. Managed and provisioned AWS servers with Ansible, deployment solutions with Rocketeer, built backend application in CakePHP including consumption of several 3rd party APIs, and mobile-optimized Bootstrap 3 SPAs with Backbone/Underscore. Redesigned/re-implemented user applications for employers, jobseekers, and internal sales staff. Was instrumental in developing business intelligence efforts leveraging Periscope Data and MySQL.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 fineb-light padv-md mart-md">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-left">
              <h3 class="xmar">Web Developer</h3>
              <p class="italic t-lg xmar">Fragment</p>
              <p class="upper strong">January 2012 - May 2014</p>
            </div>
            <div class="col-sm-6">
              <p>Responsible for defining scope of work and designing/developing solutions for custom web and mobile applications as an iOS developer and full stack web application developer.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 fineb-light padv-md mart-md">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-left">
              <h3 class="xmar">Web Developer</h3>
              <p class="italic t-lg xmar">Freelance</p>
              <p class="upper strong">January 2010 - December 2012</p>
            </div>
            <div class="col-xs-12 col-sm-4 text-left">
              <h3 class="xmar">Web Programmer</h3>
              <p class="italic t-lg xmar">Wilmington Design Co.</p>
              <p class="upper strong">June 2008 - December 2009</p>
            </div>
            <div class="col-xs-12 col-sm-4 text-left">
              <h3 class="xmar">Web Programmer</h3>
              <p class="italic t-lg xmar">WordWright Web</p>
              <p class="upper strong">August 2007 - March 2008</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mt-big"></div>
      </div>
    </div>
  </section>

  <section id="education" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="heading">Education</h2>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-xs-6 text-left">
              <h3 class="xmar">B.A. Film Studies</h3>
              <p class="italic t-lg xmar">UNC Wilmington</p>
              <p class="upper strong">2007 - 2009</p>
            </div>
            <div class="col-xs-6 text-left">
              <h3 class="xmar">A.A.S. Web Development</h3>
              <p class="italic t-lg xmar">Carteret Community College</p>
              <p class="upper strong">2004 - 2007</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mt-big"></div>
      </div>
    </div>
  </section>

  <!-- portfolio-->
  <section id="portfolio" class="no-padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Recent application development</h2>
          <p class="lead margin-bottom--big">Below are examples of my most recent web application interfaces for <a href="https://localeyesite.com" title="localeyesite.com" target="cameron_external">Local Eye Site</a> &amp; <a href="http://risehire.co" title="risehire.co" target="cameron_external">Rise Hire</a>.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div id="portfolio-items" class="row no-space">
      <script type="text/javascript">
        $(document).on('ready', function(){
          var portfolio_images = [
            { src: 'img/portfolio/square/jobseeker-profile-edit.png', title: 'Jobseeker Profile', description: 'Jobseekers customize their profile to earn a Plus Badge, granting them the privilege to one-click apply.'},
            { src: 'img/portfolio/square/jobseeker-profile-edit-image.png', title: 'Jobseeker Profile Image', description: 'Jobseekers may upload a profile image. Uses Croppie.js and mirrors to Amazon S3.'},
            { src: 'img/portfolio/square/jobseeker-profile-edit-2.png', title: 'Jobseeker Profile Details', description: 'Jobseekers include resume-like details such as education, experience, and skills items.'},
            { src: 'img/portfolio/square/customer-connect2hire.png', title: 'Connect2Hire UI', description: 'Interface for Local Eye Site\'s Connect2Hire feature which allows the customer to choose their desired audience segment and preview the custom email displaying their job advertisement.'},
            { src: 'img/portfolio/square/jobseeker-settings.png', title: 'Jobseeker Settings', description: 'Jobseekers manage their subscriptions, passwords, and payment methods in this single-page-application.'},
            { src: 'img/portfolio/square/jobseeker-search.png', title: 'Jobseeker Search', description: 'Allows jobseekers to access global jobs search from a modal in the dashboard.'},
            { src: 'img/portfolio/square/risehire-job-view.png', title: 'Rise Hire Job', description: 'Rise Hire and Local Eye Site run on the same codebase under different configurations. Appearance details, features, and service API keys are all configurable to allow necessary variance for differing business requirements.'},
            { src: 'img/portfolio/square/customer-jobs-index.png', title: 'Applicant Tracking System', description: 'Local Eye Site applicant tracking system allows customers to manage their job ads and review candidates from a single place.'},
            { src: 'img/portfolio/square/customer-candidates-mobile.png', title: 'Mobile Candidates Inbox', description: 'Mobile candidates inbox view allows for many of the same features as on desktop.'},
            { src: 'img/portfolio/square/customer-candidates.png', title: 'Candidates Inbox', description: 'Local Eye Site customer dashboard candidate inbox view allows quick access to candidates, live search, quick document downloads, and sorting.'},
            { src: 'img/portfolio/square/risehire-jobs-index.png', title: 'Rise Hire Job Search', description: 'Search results on Rise Hire.'},
            { src: 'img/portfolio/square/admin-order-edit.png', title: 'Compose Order View', description: 'Local Eye Site inside sales compose order view allows salespeople and administration staff to create and customize cart contents, product options, process orders, and set metadata.'},
          ];
          $('#portfolio-items').html('');
          _.each(portfolio_images, function(img){
            var html = '\
              <div class="col-sm-4 col-md-3"> \
                <div class="box"><a href="'+img.src+'" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="'+img.title+'" data-footer="'+img.description+'"><img src="'+img.src+'" alt="" class="img-responsive"></a></div> \
              </div> \
              ';
            $('#portfolio-items').append(html);
          });
        });

      </script>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Contact</h2>
          <div class="row">
            <div class="col-xs-12">
              <p class="t-md"><i class="fa fa-fw fa-phone"></i> (252) 725-7336</p>
              <p class="t-md"><i class="fa fa-fw fa-envelope"></i> ctlockey at gmail dot com</p>
              <p class="t-md"><i class="fa fa-fw fa-map-pin"></i> 913 Greenwich St., Raleigh, NC 27610</p>
              <p class="social">
                <a href="https://www.github.com/cameronlockey" title="github" class="git"><i class="fa fa-git fa-circle"></i></a>
                <a href="https://www.facebook.com/cameron.lockey" title="facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/cameronlockey" title="twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/+CameronLockey" title="google plus" class="gplus"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.instagram.com/cameronlockey/" title="instagram" class="instagram"><i class="fa fa-instagram"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- map-->
  <div id="map"></div>
  <footer class="footer">
    <div class="footer__copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy;2017 Cameron Lockey</p>
          </div>
          <div class="col-md-6">
            <p class="credit pull-right" style="display: none;"><a href="https://bootstrapious.com/e-commerce-templates" class="external">Bootstrapious</a></p>
            <!-- Please do not remove the backlink to us, unless you support the development at https://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)        -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Javascript files-->

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;amp;"></script>
  <%= javascript_include_tag "jquery-cookie" %>
  <%= javascript_include_tag "ekko-lightbox" %>
  <%= javascript_include_tag "front" %>
  <%= javascript_include_tag "underscore-min" %>
